-macro link_to(url, name)
  %a href={{url}} << {{ name }}
  
-macro render_derivative(paradigm, derivative, constraints)
  %td
    = paradigm.symbol(derivative)
  %td
    = derivative.form.to_u()
  %td
    = derivative.prob|round(4)
  -for cons in constraints:
    %td
      = cons.scores[derivative.form.to_u()]|round(4)

-macro render_wug(wug, derivative, constraints)
  %td
    = wug.symbol(derivative)
  %td
    = derivative.to_u()
  %td
    = wug.prob(derivative)|round(4)
  -for cons in constraints:
    %td
      = wug.scores[derivative.to_u()][cons.func.__name__]
  %td
    = wug.avg_score(derivative)
  