
-extends "layout.haml"

-block content:
  %table
    %tr
      %th << Paradigm
      %th
      %th << Derivative
      %th << Prob
      -for name in constraint_names:
        %th << {{ name }}
      %th << Average
    -for paradigm in word_list:
      -for derivative in paradigm.derivatives:
        %tr
          %th
            = paradigm.base.to_u()
          %td
            = paradigm.symbol(derivative)
          %td
            = derivative.form.to_u()
          %td
            = derivative.prob
          -for cons in constraints:
            %td
              = cons.scores[derivative.form.to_u()]
    %tr
      %th << Averages
      %td
      %td
      %td
      -for cons in constraints:
        %td
          %strong
            = cons.avg_score()
    %tr  
      %th << Wugs
      -for wug in wug_list:
        -for derivative in wug.derivatives:
          %tr
            %th
              = wug.base.to_u()
            %td
              = wug.symbol(derivative)
            %td
              = derivative.to_u()
            %td
              = wug.prob(derivative)
            -for cons in constraints:
              %td
                = wug.scores[derivative.to_u()][cons.func.__name__]
            %td
              = wug.avg_score(derivative)

     