
-extends "layout.haml"

-block content:
  %table
    %tr
      %th << Paradigm
      %th
      %th << Derivative
      %th << Prob
      -for name in constraint_names:
        %th << {{ name }}
      %th << Average
    -for paradigm in word_list:
      %tr
        %th rowspan=2
          = paradigm.base.to_u()
        -set deriv_range = range(paradigm.derivatives|length)
        -for i in deriv_range:
          -set derivative = paradigm.derivatives[i]
          -if (i == 0)
            = help.render_derivative(paradigm, derivative, constraints)
          -else
            %tr
              = help.render_derivative(paradigm, derivative, constraints)
          
    %tr
      %th << Averages
      %td
      %td
      %td
      -for cons in constraints:
        %td
          %strong
            = cons.avg_score()
    %tr  
      %th << Wugs
      -for wug in wug_list:
        %tr
          %th rowspan = 2
            = wug.base.to_u()
          -set deriv_range = range(wug.derivatives|length)  
          -for i in deriv_range:
            -set derivative = wug.derivatives[i]
            -if i == 0
              = help.render_wug(wug, derivative, constraints)
            -else
              %tr
                = help.render_wug(wug, derivative, constraints)